.bg-img {
	/* The image used */
	background-image: url("../img/eduskuntatalo.jpg");
	height: 1200px;
	/* Center and scale the image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* Position the navbar */
	position: relative;
}

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
}

.button {
	content: none;
	background-color: rgb(29, 29, 29);
	border: none;
	color: red;
	padding: 20px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 20px 20px;
	cursor: pointer;
}

/* The navbar */
.topnav {
	background-color: transparent;
	overflow: hidden;
}

/* Navbar links */
.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 24px 26px;
	text-decoration: none;
	font-size: 22px;
	margin-right: 60px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Container 2 */
.container2 {
	padding-left: 220px;
	padding-top: 200px;
}