@charset "ISO-8859-1";

body {
	background-color: powderblue;
	margin: 20px 150px 20px 150px;
}

.float-container {
	border: 3px solid #fff;
	padding: 20;
}

.float-left {
	width: 50%;
	float: left;
	padding: 20px;
	
}

.float-right {
	width: 50%;
	float: right;
	padding: 20px;
	border: 2px solid black;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap
	
}

#wrapper{
	display: flex;
}

#left{
	flex: 0 0 65%;
}

#right{
	flex: 1;
}




<!--
td {
	border-bottom: 1px solid #400040;
}

th {
	border-bottom: 1px solid #400040;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}
h5 {
	text-align: center;
	border-color: red;
	border-bottom: 5px;
}
h7 {
	text-align: center;
}

p {
	text-align: center;
}

* {
	box-sizing: border-box;
}
/* Create a two-column layout */